
body {
  margin: auto;
  background-color: #c99;
}

header {
  background-color: #c66;
  padding-top: 10px;
  padding-bottom: 10px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.child {
  flex-basis: 300px;
  flex-grow: 1;
}

.Pics {
  padding: 50px;
}

img {
  border-radius: 50%;
  /* display: block; */
  /* margin-left: 100px;
  margin-right: 60px;
  height: 30%;
  width: 30%; */
  max-width: 100%;
  border: 7px solid;
  border-color: #800000;
}

/* .info {
  position: absolute;
  left: 550px;
  top: 180px; */
.info {
  background-color: #c99;
  padding: 5px;
  margin-right: 50px;
}

h1 {
  text-align: medium;
  font-family: serif;
  margin-left: 50px;
  font-size: 60px;
  margin-bottom: 50px;
}

h2 {
  text-align: medium;
  font-family: serif;
  margin-left: 50px;
  font-size: 30px;
  margin-bottom: 10px;
}

ul {
  border-style: outset;
  border: 3px solid;
  border-color: #c66;
  text-align: medium;
  display: inline-block;
  font-family: serif;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 18px;
  padding: 10px 10px 10px 30px;
}

.footer {
  padding: 10px;
}
