img {
  border-radius: 50%;
  display: block;
  margin-left: 100px;
  margin-right: 60px;
  height: 30%;
  width: 30%;
  border: 7px solid;
  border-color: #800000;
}

body {
  margin: auto;
  background-color: #c99;
}

header {
  background-color: #c66;
  flex-grow: 1;
  margin-bottom: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 1000px;
}

.header {
  display: flex;
}

.info {
  position: absolute;
  left: 550px;
  top: 180px;
  background-color: #c99;
  padding: 5px;
  margin-right: 50px;
}

h1 {
  text-align: medium;
  font-family: serif;
  margin-left: 50px;
  font-size: 60px;
  margin-bottom: 10px;
}

h2 {
  text-align: medium;
  font-family: serif;
  margin-left: 50px;
  font-size: 30px;
  margin-bottom: 10px;
}

ul {
  border-style: outset;
  border: 3px solid;
  border-color: #c66;
  text-align: medium;
  display: inline-block;
  font-family: serif;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 18px;
  padding: 10px 10px 10px 30px;
}
